Source: kismet
Section: net
Priority: optional
Maintainer: Mike Kershaw/Dragorn <dragorn@kismetwireless.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libncurses5-dev, libpcap0.8-dev (>= 1.0.0), libpcre3-dev, libcap-dev (>= 2.10), libssl-dev, libbluetooth-dev, pkg-config, libnl-3-dev | libnl-dev, libnl-genl-3-dev | libnl-dev, libmicrohttpd-dev, libsqlite3-dev, libprotobuf-dev, libprotobuf-c-dev, protobuf-compiler, protobuf-c-compiler, libsensors4-dev, libnm-dev, libdw-dev, libusb-1.0-0-dev
Standards-Version: 2018.0.0
Homepage: http://www.kismetwireless.net
Vcs-Git: https://www.kismetwireless.net/git/kismet.git

Package: kismet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap2-bin, libmicrohttpd, zlib1g, libnl-3, libnl-genl-3, libcap, libpcap, libncurses5, libnm, libdw, libsqlite3, libprotobuf, libprotobuf-c, libsensors4, libusb-1.0-0
Description: Kismet wireless sniffer and IDS
 Kismet is a wireless sniffer, IDS, logging, and wardriving tool.
 .
 This package provides the most recent version, based on the 2018 git code branch.

