canvas.k-cc-canvas {
    width: 100%;
    height: 100%;
}

div.k-ds-tablediv {
    overflow-y: scroll;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

table.k-ds-dstable td {
    vertical-align: top;
}

table.k-ds-dstable tr {
    height: 30px;
}

