canvas.k-cc-canvas {
    width: 100%;
    height: 100%;
}

div.k-ds-tablediv {
    overflow-y: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

i.k-ds-warning {
    color: yellow;
}

i.k-ds-error {
    color: red;
}

div.k-ds-details {
    padding: 10px;
}
