table.kismet_devicedata {
    border: 0;
}

table.kismet_devicedata b {
    padding-top: 0.5em;
}

table.kismet_devicedata td {
    vertical-align: top;
}

td.kismet_devicedata_td_title:first-child {
    width: 40%;
    max-width: 100px;
}

td.kismet_devicedata_td_content {
    width: 100%;
}

td.kismet_devicedata_span {
    width: 100%;
}

/*
table.kismet_devicedata td.span {
    text-align: center;
}
*/

div.donut {
    width: 200px;
    height: 200px;
    margin: auto;
}

div.smalldonut {
    width: 150px;
    height: 150px;
    margin: auto;
}

div.freqbar {
    width: 350px;
    height: 150px;
    margin: auto;
}
